doctype html
head
    meta(charset="UTF-8")
    title Web Physics
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    #stage
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.6/pixi.js")
    script(src="/javascripts/createVideo.js")    
    script(src="/javascripts/main.js")    


