doctype html
head
    meta(charset="UTF-8")
    title Web Physics
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    #stage
    #block
    #form
        p График:
        input(type="text" id="textArea")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.5/pixi.min.js" ></script>
    script(src="/ResizeSensor.js")    
    script(src="/Scene1/Scene1.js")    



    



